.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  display: grid;
  place-items: center;
  flex: 1 1 300px;
  margin: 10px;
  height: 1000px;
  border: 1px solid lightgreen;
  background: lightgreen;
  font-size: 2rem;
  text-align: center;
}

body {
  font-family: system-ui, serif;
}
