.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  flex: 1 1 300px;
  height: 500px;
  margin: 10px;
  border: 1px solid green;
  background: rgb(89, 214, 156);
  font-size: 2rem;
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
}

body {
  font-family: system-ui, serif;
}
